$ns: ( 6, 4, 6, 3, 4, 3, 5, 6, 4, 5, 6, 3, 6, 4, 3, 4, 4, 6, 5, 3);
$ps: ( -3, 3, 6, 5, 4, -2),
( 0, 0, 1, 0),
( 6, 2, -2, -2, 0, 4),
( 9, 7, 8),
( 0, 8, 4, -4),
( 6, -2, 2),
( -3, 0, -1, 0, 3),
( 3, 5, -2, -2, 4, 3),
( 4, 7, 4, 0),
( -2, -6, -6, 1, 6),
( 2, 1, 1, -1, -8, -5),
( 0, 1, 3),
( -1, -2, 6, 5, -2, 0),
( 0, 0, -2, -2),
( -3, -5, -7),
( -2, -2, 7, 7),
( 0, 6, -1, -7),
( 8, 8, -1, -4, 1, 4),
( -9, -8, -5, -1, -2),
( -6, -8, -6);
$ls: ( 38.49399999999999%, 45.1285%, 50.59400000000001%, 41.8425%, 36.01%, 38.127%),
( 57.0055%, 50.9755%, 67.625%, 73.655%),
( 44.7605%, 39.1595%, 32.8665%, 68.42600000000002%, 77.01150000000001%, 47.053%),
( 65.68700000000001%, 61.5575%, 77.0805%),
( 39.32%, 39.045%, 53.532500000000006%, 53.8075%),
( 55.9215%, 81.931%, 43.6735%),
( 64.163%, 92.0585%, 48.411%, 26.9285%, 46.51%),
( 71.8005%, 60.6695%, 59.754%, 89.4975%, 67.78450000000001%, 49.172000000000004%),
( 33.1435%, 18.2255%, 5.666499999999999%, 20.5845%),
( 74.6205%, 56.486000000000004%, 47.57599999999999%, 76.671%, 65.73949999999999%),
( 35.291%, 70.21300000000001%, 58.889%, 30.907%, 45.384%, 38.444%),
( 57.74250000000001%, 76.64750000000001%, 80.81700000000001%),
( 82.4235%, 50.0465%, 27.450499999999998%, 29.270000000000003%, 30.2105%, 60.768%),
( 45.427499999999995%, 37.653999999999996%, 30.0485%, 37.822%),
( 79.3785%, 70.418%, 54.9955%),
( 48.3535%, 88.0445%, 72.246%, 32.555%),
( 44.27799999999999%, 30.4635%, 15.177999999999999%, 28.9925%),
( 67.874%, 56.17099999999999%, 24.7165%, 35.562%, 61.181%, 62.0385%),
( 50.627500000000005%, 52.36150000000001%, 43.1995%, 9.260499999999999%, 48.704%),
( 76.0655%, 30.332499999999996%, 52.977%);
$ts: ( 32.007%, 66.7475%, 72.743%, 43.8485%, 25.485000000000003%, 19.639%),
( 75.57000000000001%, 94.329%, 95.878%, 77.119%),
( 33.8905%, 22.101%, 36.268%, 70.096%, 65.9505%, 43.91199999999999%),
( 71.1225%, 67.9495%, 40.066%),
( 50.0985%, 37.161500000000004%, 59.489000000000004%, 72.426%),
( 65.22049999999999%, 88.9175%, 55.510999999999996%),
( 79.4735%, 42.8105%, 40.4435%, 43.829%, 58.4605%),
( 62.7035%, 78.8475%, 57.684999999999995%, 33.2625%, 25.141000000000002%, 33.4195%),
( 61.229%, 74.47699999999999%, 46.788000000000004%, 33.540000000000006%),
( 24.427500000000002%, 66.02250000000001%, 57.65899999999999%, 54.2535%, 46.6395%),
( 47.0955%, 36.039%, 56.7265%, 81.351%, 84.0755%, 70.50750000000001%),
( 39.917%, 22.104000000000003%, 30.91%),
( 43.556000000000004%, 42.7175%, 27.6915%, 35.736000000000004%, 33.704499999999996%, 26.498500000000003%),
( 39.2855%, 44.262%, 25.2125%, 20.235999999999997%),
( 36.938500000000005%, 28.687%, 55.6165%),
( 54.891%, 31.2455%, 58.44199999999999%, 82.0875%),
( 7.0815%, 14.817999999999998%, 25.3245%, 17.588%),
( 48.07%, 61.431999999999995%, 78.656%, 78.9315%, 86.2595%, 72.62200000000001%),
( 49.507%, 89.23%, 61.880500000000005%, 25.9655%, 15.508%),
( 74.955%, 55.94749999999999%, 52.460499999999996%);
$ss: ( 259.6845%, 226.524%, 170.01749999999998%, 173.97525%, 175.8585%, 205.06125%),
( 191.769%, 219.05624999999998%, 219.24975%, 191.9625%),
( 187.40175%, 247.30275%, 282.79650000000004%, 212.89125%, 203.535%, 213.53925%),
( 217.26524999999998%, 224.15925%, 257.067%),
( 222.594%, 264.6465%, 229.7475%, 187.695%),
( 264.1005%, 292.455%, 270.078%),
( 251.80575%, 233.45775%, 238.95524999999998%, 263.589%, 230.81625%),
( 182.94299999999998%, 198.882%, 256.1475%, 289.4415%, 272.664%, 223.431%),
( 240.363%, 280.15049999999997%, 258.666%, 218.8785%),
( 260.9235%, 221.91000000000003%, 185.823%, 210.504%, 233.394%),
( 289.63725%, 265.0845%, 220.73775%, 234.95025%, 221.51925%, 231.85950000000003%),
( 247.02224999999999%, 229.05975%, 263.03249999999997%),
( 175.87425%, 157.392%, 162.15975%, 166.49025%, 214.32%, 228.47175%),
( 183.42075%, 189.591%, 203.277%, 197.10675%),
( 177.273%, 205.20225%, 216.68475%),
( 196.8645%, 257.69925%, 241.01625%, 180.1815%),
( 205.86975%, 221.922%, 231.5955%, 215.54325%),
( 258.05174999999997%, 272.68125%, 246.89175%, 219.76875%, 253.97625%, 266.46975%),
( 263.0895%, 275.28375%, 273.48975%, 233.868%, 238.7565%),
( 182.28375%, 179.2485%, 182.25975%);
$rs: ( 1.30317, 1.2265225, 1.1422425, 1.2912474999999999, 1.1849075, 1.11255),
( 1.3850725000000002, 1.268175, 1.2379125, 1.35481),
( 1.1849675, 1.24017, 1.39817, 1.4307125, 1.2461425, 1.1583975),
( 1.1621175, 1.134215, 1.1929375),
( 1.353085, 1.2211625, 1.2803375, 1.41226),
( 1.191025, 1.083015, 1.2286000000000001),
( 1.3602275, 1.3752024999999999, 1.33271, 1.25064, 1.318765),
( 1.0765875, 1.2426, 1.1955425, 1.2417475, 1.2543725000000001, 1.042155),
( 1.286835, 1.4769875, 1.313385, 1.1232325),
( 1.228365, 1.254805, 1.1787874999999999, 1.2330625, 1.08247),
( 1.3069950000000001, 1.2680175, 1.3642825, 1.3148525, 1.3343325, 1.4227400000000001),
( 1.3641874999999999, 1.1514725000000001, 1.286565),
( 1.24345, 1.3235475, 1.4138125000000001, 1.381885, 1.2680025, 1.2198324999999999),
( 1.473745, 1.49098, 1.41284, 1.395605),
( 1.0961675, 1.2165775, 1.264405),
( 1.3789625, 1.4482825, 1.25102, 1.1817),
( 1.28171, 1.2374025, 1.2306949999999999, 1.2750025),
( 1.3688475, 1.274585, 1.1329575, 1.2833350000000001, 1.3468175, 1.2907025),
( 1.4378950000000001, 1.267935, 1.0739425, 1.2529775, 1.403395),
( 1.2786, 1.308925, 1.455485);
$os: ( 0.10126975, 0.14377825, 0.14691325, 0.120118, 0.142879, 0.12716575000000002),
( 0.13472125000000001, 0.16588150000000002, 0.20284600000000003, 0.17168575000000003),
( 0.1735555, 0.13571875, 0.20293975, 0.20933875000000002, 0.14849425, 0.179932),
( 0.13934950000000002, 0.17555425000000002, 0.18957924999999998),
( 0.12195625, 0.18251050000000002, 0.20199024999999998, 0.141436),
( 0.1950055, 0.20016475, 0.23086225),
( 0.18906625, 0.15835, 0.18584875, 0.17009725, 0.18974425),
( 0.19988424999999999, 0.17154175, 0.15197650000000001, 0.15360475, 0.14398450000000002, 0.17069875),
( 0.15141175, 0.15326499999999998, 0.123505, 0.12165175),
( 0.157684, 0.17619849999999998, 0.1486255, 0.14441500000000002, 0.1698595),
( 0.16940275, 0.18615325, 0.157633, 0.14861875, 0.18194575000000002, 0.17420950000000002),
( 0.2100085, 0.15343299999999999, 0.1659115),
( 0.17981950000000002, 0.19223725, 0.1840885, 0.225985, 0.19105824999999999, 0.136744),
( 0.17534125, 0.12060325000000001, 0.16819974999999998, 0.22293775),
( 0.12830425, 0.180205, 0.15292375),
( 0.14773975, 0.12829000000000002, 0.1447015, 0.16415125000000003),
( 0.15698425, 0.1471795, 0.16391875, 0.1737235),
( 0.1236115, 0.17831724999999998, 0.223693, 0.22708375, 0.17481924999999998, 0.11672275),
( 0.15134050000000002, 0.17196850000000002, 0.20460175, 0.22573075, 0.17327350000000002),
( 0.19506849999999998, 0.18488575000000002, 0.19974175);